.backdrop{
    position: fixed;
    color:black;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.2);;
  }
  .backdrop.is-hidden.modal{
    transform: scaleX(0);
  }
  .modal{
    position: absolute;
    width: 528px;
    height: 581px;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }

  .modal:visited {
    color: $accent-color;
  }

  .button-modal{
    display: block;
    cursor: pointer;
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    background: $accent-color;
    color: $main-bck-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-family: $main-font-family;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 56px 10px 56px;
    border: 0;
    
  }

  .modal-link{
    font-family: $main-font-family;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $accent-color;
    text-decoration: underline;
    
  }