.subscribe-send-position{
    position: relative;
  }
  
  .subscribe-icon-send{
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    
    }
  
  .subscribe-container{
    margin-left: 93px;
  }
  
  .subscribe-text{
  font-family: $main-font-family;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  
  }