.subscribe-container{
  margin-left: 93px;
}
.subscribe-send-position{
    position: relative;
  }
  
  .subscribe-icon-send{
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    
    }
  
  .subscribe-container{
    margin-left: 93px;
  }
  
  .subscribe-text{
  font-family: $main-font-family;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  
  }

  .footer-form{
    display: flex;
  }
  
  .footer-input{
   background:none;
   border: 1px solid rgba(255, 255, 255, 0.3);
   box-sizing: border-box;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   background-color: $top-bottom-background-color;
   width: 358px;
   height: 50px;
   padding: 15px 18px;
   margin-right: 12px;
   color: $sec-background-color;
  }
  
  .footer-button {
    height: 50px;
    width: 200px;
    background-color: $accent-color;
    padding: 10px 62px 10px 28px;
    font-family: $main-font-family;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
  }
  
  
  .subscribe-send-position{
    position: relative;
  }
  
  .subscribe-icon-send{
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 10px;
        }
  
  
  .subscribe-text{
  font-family: $main-font-family;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  
  }