.hero {
    background-color: #2f303a;
    .overlay {
        max-width: 1600px;
        height: 600px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 200px;
        padding-bottom: 200px;
        text-align: center;
        background-color: #c4c4c4;
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/fon.png);
      
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .container {
        padding-top: 200px;
        padding-bottom: 280px;
      }
      

  }
  .hero-heading {
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    justify-content: center;
    margin: auto;
  }
  
  
  
  .hero-button{
    border-radius: 4px;
    border: 0 solid transparent;
    min-width: 200px;
    color: $main-bck-color;
    background: $accent-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    padding: 10px 32px 10px 32px;
    text-align: center;
    letter-spacing: 0.06em;
  }
  