.master-icon-mails {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
  }
  .master-icon-call {
    fill: currentColor;
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }

  .social-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .social-list .s-icon:not(:last-child) {
    margin-right: 10px;
  }
  
  
  .social-link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #afb1b8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: #ffffff;
    }
  }
    
  .master-icon {
    height: 20px;
    width: 20px;
    justify-content: center;
    fill: currentColor;
  }