.master-icon-mails {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
  }
  .master-icon-call {
    fill: currentColor;
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }

