.logo {
    font-family: $secondary-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $accent-color;
    margin-right: 93px;
    width: 145px;
  }

  .logo-colortext_bottom {
    color: #ffffff;
  }
  .logo-colortext {
    color: black;
  }