.our-team-list {
    display: flex;
  }
  .main-section2 {
    background-color: $sec-background-color;
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .main-ourteam-block{
    padding-top: 30px;
    padding-bottom: 16px;
  }
  
  
  .ourteam-list-item:not(:last-child) {
    margin-right: 30px;
  }
  
  .ourteam-list-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
  }
  
  .main-ourteam-name {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
  