.clients {
    display: block;
  }
  .clients-list {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 50px;
  }
  .clients-list .clients-link:not(:last-child) {
    margin-right: 30px;
  }
  
  .clients-master {
    display: inline-flex;
    width: 170px;
    height: 90px;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    border: currentColor 1px solid;
    border-radius: 4%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icon-clients {
    justify-content: center;
    fill: currentColor;
    justify-items: center;
  }
  
  .section-3 {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .logo-1 {
    width: 44px;
    height: 49px;
  }
  .logo-2 {
    width: 40px;
    height: 50px;
  }
  .logo-3 {
    width: 41px;
    height: 42.6px;
  }
  .logo-4 {
    width: 79.6px;
    height: 42px;
  }
  .logo-5 {
    width: 59px;
    height: 47px;
  }
  .logo-6 {
    width: 88.4px;
    height: 45.4px;
  }
  
  .clients-title {
    margin-bottom: 0;
  }
  
  .clients-master:hover,
  .clients-master:focus {
    color: $accent-color;
  }
  