.main-section-our-advantages{
  padding-top: 94px;

}
.main-advantages-description{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 14px;
  line-height: 1.7;
  color: $secondary-fonts-color;
}


.main-advantages-title{
  color: $main-fonts-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.19;
  text-transform: uppercase;
  margin-bottom: 10px;
} 
    
  
  