.main-section1 {
  padding-top: 94px;
  padding-bottom: 94px;
}
  .main-sec-list {
    display: flex;
  }
  .main-wedo{
    position: relative;

    &-images{
      display: block;
    }

    &-overlay {
      position: absolute;
      width: 100%;
      height: 70px;
      background: rgba(47, 48, 58, 0.8);
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  
  
  