
.main-list {
  display: flex;
}
.main-description{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 14px;
  line-height: 1.7;
  color: $secondary-fonts-color;
}

.main-description-index  {
  text-align: center;
  color: $secondary-fonts-color;
  font-size: 16px;
  line-height: 1.19;
}

.main-title-h2 {
  margin-bottom: 50px;
  text-align: center;
  color: $main-fonts-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.main-title-h3{
  color: $main-fonts-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.19;
  text-transform: uppercase;
}



  
    
  
  