.portfolio-text1 {
    color: $main-fonts-color;
    font-size: 18px;
    line-height: 2;
    padding-bottom: 4px;
  }
  
  .portfolio-subtext{
    color: $secondary-fonts-color;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
  }
  
  .portfolio-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .portfolio-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  
  .portfolio-items:not(:last-child) {
    margin-right: 8px;
  }
  .portfolio-card-set{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    flex-basis: calc((100%-60) / 3);
  }
  
  .portfolio-card-set-items {
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid #eeeeee;
    width: 370px;

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
  }
  .portfolio-card-link{
    display: inline-block;

    &:hover,
    &:focus {
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
 
  .portfolio-info {
    padding: 20px 24px;
    font-family: $main-font-family;
  }
  

  .portfolio_button {
    padding: 6px 22px;
    line-height: 1.6;
    color: $main-fonts-color;
    background: $sec-background-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:focus,
    &:hover {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      color: #ffffff;
      background: $accent-color;
    }
}

.portfolio-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $accent-color;
    opacity: 0.9;
    top: 0;
    left: 0;
    transform: translateY(100%);
    animation-duration: 250ms;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.6;
    padding: 63px 24px;
    font-family: $main-font-family;
    font-weight: normal;
    
    letter-spacing: 0.03em;
    
    color: #ffffff;
  }
  
  .portfolio-images {
    position: relative;
    overflow: hidden;
  }
  .portfolio-card-link:focus .portfolio-overlay,
  .portfolio-card-link:hover .portfolio-overlay {
    transform: translateY(0);
  }
  
  

  